
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.footer-content {
    text-align: center;
    margin: 20px auto; /* Ajusta el margen según tus preferencias */
}

.enlaces-legales {
    list-style-type: none;
    padding: 0;
}

.enlaces-legales li {
    display: inline;
    margin-right: 10px; /* Espacio entre los elementos de la lista */
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente los elementos */
    height: 80px; /* Ajusta la altura según sea necesario */
}

.top-left, .top-center, .top-right {
    display: flex; /* Utilizamos flexbox para alinear elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos en cada sección */
    gap: 20px;
}

.top-center {
    flex: 1; /* Hace que ocupe todo el espacio disponible */
    justify-content: center; /* Centra horizontalmente los elementos dentro de top-center */
    text-align: center; /* Alinea el texto centrado */
}

.top-right {
    justify-content: flex-end; /* Alinea los elementos hacia la derecha dentro de top-right */
}

